* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
COMPONENTS
*/
html {
    font-size: calc(1em + 1vw);
    // line-height: 21px;                                                                                                                                                                                                                                                                                                         
}

//Buttons
button {
    cursor: pointer;
}