@import '_1_variables';

.hero-container {
    .new-release-container {
        width: 100%;
        min-height: 30px;
        background-color: #000;

        .new-release {
            max-width: 525.5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            height: 100%;

        }

        p {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: $poppins;
            letter-spacing: 83.33;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .hero {
        height: 837px;
        width: 100%;

        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0) 20%),
            url('../../build/images/SUB_7436-hayley.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;

        .full-screen-navigation {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0));
            width: 100%;
            height: 200vh;
            z-index: 1000;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            transition: all ease-in-out 0.5s;

            .searchbar {
                background: transparent;
                border: solid 3px #fff;
                width: 70%;
                height: 50px;
                color: #fff;
                padding: 10px;
                margin-top: 110px;
                font-family: $open-sans;
            }

            ul {
                max-width: 531px;
            }

            li {
                color: white;
                list-style-type: none;
                text-align: center;
                font-size: 36px;
                font-family: $poppins;
                font-weight: 700;
                cursor: pointer;
                transition: all ease-in-out 0.3s;

                &:hover {
                    color: #CECECE;
                }
            }
        }

        .collection-container {
            margin-top: 10px;
            width: 70%;

            .collection-menu-item {
                padding-top: 14px;
                width: 100%;
                height: 60px;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 21px;
                font-family: $poppins;
                font-weight: 800;
                color: white;
                background-image: url('../../build/images/Group\ Copy\ 3.png');
                background-size: cover;
                background-position: center;
                cursor: pointer;
            }
        }

        nav {
            width: 100%;
            position: relative;
            z-index: 1000;

            p {
                text-transform: uppercase;
                color: white;
                font-family: $lato;
                margin-left: 50px;
                margin-top: 41px;
                margin-right: 315px;
                display: inline-block;
                font-size: 20px;
            }

            ul {
                width: 690px;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                left: 50%;
                transform: translateX(-50%);
                top: 41px;
                position: absolute;

                li {
                    color: white;
                    font-family: $poppins;
                    font-size: 14px;
                    font-weight: bold;
                    list-style-type: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    padding-bottom: 2px;
                    transition: $standardTransition;
                    position: relative;

                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }

                    &:before {
                        content: "";
                        background-color: white;
                        position: absolute;
                        width: 0%;
                        height: 1px;
                        bottom: 0px;
                        transition: $standardTransition;
                    }
                }

                img {
                    cursor: pointer;
                }
            }

            .nav-icons {
                display: inline-flex;
                width: 55px;
                justify-content: space-between;
                align-items: center;
                float: right;
                margin-top: 41px;
                margin-right: 180px;

                img {
                    cursor: pointer;
                }
            }
        }

        .hero-title {
            max-width: 565px;
            margin-top: 200px;
            margin-left: 83px;
            display: inline-block;

            h1 {
                color: white;
                font-size: 54px;
                font-family: $poppins;
                font-family: 800;
            }

            p {
                color: white;
                font-family: $open-sans;
                font-size: 14px;
            }

            button {
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                font-size: 14px;
                height: 46px;
                font-family: $poppins;
                margin-top: 25px;

                &:nth-of-type(1) {
                    border: 3px solid white;
                    background: transparent;
                    width: 170px;
                    margin-right: 20px;
                }

                &:nth-of-type(2) {
                    background-color: black;
                    color: white;
                    width: 124px;
                    border: none;
                }
            }
        }
    }
}

.products-container {
    display: flex;

    .product-banner {
        position: relative;
        width: 33.3%;
        overflow: hidden;
        max-height: 690px;
        height: 590px;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            object-fit: cover;
            width: 100%;
        }

        p {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: white;

            &:nth-of-type(1) {
                text-transform: uppercase;
                font-family: $poppins;
                font-size: 21px;
                font-weight: 800;
                bottom: 105px;
                text-align: center;
            }

            &:nth-of-type(2) {
                font-family: $open-sans;
                font-size: 15px;
                text-align: center;
                bottom: 47px;
                width: 85%;
            }
        }
    }

    .product-banner-1 {
        background-image: url("../../build/images/Plane-2.png");
        background-position: top center;
    }

    .product-banner-2 {
        background-image: url("../../build/images/Group\ Copy\ 3.png");
        background-position: top center;
    }

    .product-banner-3 {
        background-image: url("../../build/images/Group\ Copy\ 4.png");
    }
}

.about-container {
    .about-text {
        margin: 100px;
    }

    p {
        font-family: $poppins;
        text-align: center;

        &:nth-of-type(2) {
            font-size: 16px;
            margin-top: 40px;
        }

        &:nth-of-type(3) {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 140px;
        }
    }

    .slick-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-text {
        font-size: 58px;
        font-weight: 800;

    }

    .about-name {
        position: relative;
    }

    .slick-arrow {
        position: absolute;
        background: transparent;
        border: none;
        top: -8px;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: $poppins;
        display: none;
        vertical-align: top;
    }

    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }

    #about-subtitle {
        margin-bottom: 135px;
    }
}

footer {
    background-color: #0D0D0D;
    width: 100%;
    min-height: 742px;
    position: relative;

    .footer-title {
        display: inline-flex;
        width: calc(100vw - 500px);
        height: 100px;
        vertical-align: top;

        p {
            font-family: $lato;
            font-size: 20px;
            text-transform: uppercase;
            color: white;
            margin-top: 94px;
            margin-left: 40px;
        }
    }

    .footer-image {
        display: inline-block;
        transform: translateY(-30px);
        float: left;
    }

    .footer-extras {
        margin-left: 70px;
        display: inline-block;

        #copyright {
            font-family: $open-sans;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.3);
            text-transform: uppercase;
            opacity: 30%;
        }

    }

    .footer-payment-methods {
        margin-top: 50px;
        mix-blend-mode: lighten;
    }

    .footer-content {
        display: inline-flex;
        width: calc(100vw - 500px);
        justify-content: space-around;
        align-items: top;
        vertical-align: top;
        position: relative;
        padding: 10px;
    }



    .footer-links {

        ul {
            li {
                color: white;
                list-style-type: none;
                color: rgba(255, 255, 255, 0.4);
                font-family: $open-sans;
                text-transform: uppercase;
                font-size: 13px;
                padding: 5px 0px 5px 0px;
            }

            .footer-header {
                color: white;
                font-family: $poppins;
                font-weight: 800;
                font-size: 15px;
                margin-bottom: 5px;
                margin-top: 30px;
                text-transform: uppercase;
            }
        }




    }

    .footer-links-3 {
        vertical-align: top;
        font-size: 15px;

        ul {
            li {
                text-transform: none;
                line-height: 23px;
            }
        }
    }

    .email-submit {
        margin-top: 23px;

        input {
            background-color: transparent;
            border: solid 3px #fff;
            height: 45px;
            width: calc(333px - 132px);
            color: rgba(255, 255, 255, 0.4);
            padding-left: 13px;
            display: inline-block;
            vertical-align: top;
        }

        button {
            color: white;
            background-color: transparent;
            border: solid 3px #fff;
            border-left: none;
            height: 45px;
            font-size: 14px;
            width: 132px;
            text-transform: uppercase;
            font-family: $poppins;
            font-weight: bold;
            vertical-align: top;
        }
    }

    .social-media-container {
        width: 146px;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        img {
            cursor: pointer;
        }
    }
}