@media only screen and(max-width:1245px) {
    footer {
        .footer-title {
            p {
                margin: 0;
                width: 100%;
                text-align: center;
                margin-top: 40px;
                font-size: 1.2rem;
            }
        }

        .footer-content {
            flex-direction: column;
            align-items: left;
            padding-left: 60px;
        }

        .footer-extras {
            width: 100%;
            margin: 0;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media only screen and (max-width:1200px) {
    .hero-container {
        .hero {
            nav {
                ul {
                    width: 100%;

                    li {
                        display: none;
                    }

                    img {
                        display: block;
                        position: absolute;
                        left: 25px;
                        top: 5px;
                    }
                }

                p {
                    margin: 0;
                    position: absolute;
                    top: 41px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .nav-icons {
                    position: absolute;
                    left: 100%;
                    transform: translateX(-150%);
                }
            }
        }
    }

    footer {
        min-height: 1000px;
    }
}

@media only screen and(max-width:1070px) {
    .about-container {
        .about-text {
            font-weight: lighter;
            font-size: 2.25rem;
        }

        .slick-arrow {
            font-weight: lighter;
            display: block;
        }

        #about-subtitle {
            margin-top: 15px;
            margin-bottom: 105px;
        }
    }
}

@media only screen and (max-width:985px) {
    .products-container {
        flex-direction: column;

        .product-banner {
            width: 100%;

            p {
                &:nth-of-type(1) {
                    font-size: 1.4rem;
                    width: auto;
                    white-space: nowrap;
                }

                &:nth-of-type(2) {
                    font-size: 0.8rem;
                    width: 95%;
                    bottom: 85px;
                }
            }
        }
    }
}

@media only screen and (max-width:945px) {
    footer {
        .footer-image {
            display: none;
        }

        .footer-title {
            width: 100%;

            p {
                font-size: 2rem;
            }
        }

        .footer-content {
            width: 100%;
        }

        .footer-links {
            ul {
                .footer-header {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width:800px) {
    .hero-container {
        .hero {
            position: relative;

            .nav-icons {
                img {
                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }

            .hero-title {
                position: absolute;
                bottom: 30px;
                left: 10%;
                margin: 0;

                button {
                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:670px) {
    .hero-container {
        .hero {
            .hero-title {
                h1 {
                    font-size: 6vw;
                }

                p {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:620px) {
    .hero-container {
        .new-release-container {
            .new-release {
                max-width: 80vw;
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .about-container {
        .about-text {
            font-size: 45px;
            padding: 20px;
        }
    }
}

@media only screen and (max-width:580px) {
    .products-container {
        .product-banner {
            p:nth-of-type(2) {
                bottom: 65px;
            }
        }
    }
}

@media only screen and (max-width:520px) {
    .hero-container {
        .new-release-container {
            p {
                font-size: 3vw;
            }
        }
    }
}

@media only screen and (max-width:410px) {
    footer {
        .email-submit {
            input {
                width: 45vw;
            }

            button {
                width: 25vw;
            }
        }
    }
}